#hero {
  height: 100vh;
  justify-content: center;
  opacity: 0;
  transform: var(--start-translate);
  transition: var(--fade), var(--translate);
}

#name {
  font-size: clamp(3rem, 6vw, 7rem);
  text-align: center;
  padding: 0;
  margin: 0;
  color: var(--primary-text-color);
}

#title {
  text-align: center;
  font-size: clamp(1.2rem, 2vw, 2rem);
  margin: 0;
  font-style: italic;
  color: var(--secondary-text-color);
  opacity: 0.7;
}

#socials {
  width: clamp(400px, 50%, 50rem);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1rem;
}

#socials > a > img {
  width: clamp(3rem, 3vw, 5rem);
  filter: invert(100%) sepia(10%) saturate(0%) hue-rotate(93deg)
    brightness(105%) contrast(102%);
  transition: filter 0.4s linear;
}

#socials > a > img:hover {
  /* https://codepen.io/sosuke/pen/Pjoqqp */
  filter: invert(58%) sepia(11%) saturate(1239%) hue-rotate(182deg)
    brightness(93%) contrast(86%);
}
