.about-me {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.about-me-container {
    min-width: 350px;
    width: 50vw;
    min-height: 100vh;
    padding-top: 10vh;
}

.about-me-container h2 {
    margin: 0;
    font-size: 3rem;
    text-align: center;
    color: #48e5c2;
}

.about-me-container p {
    font-family: 'Open Sans', sans-serif;
    color: #fcfaf9;
    font-size: 1.15rem;
}

.hook {
    font-size: 1.25rem;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.summary {
    margin-top: 3vh;
    min-width: 200px;
    width: 20vw;
    flex-grow: 1;
    padding-right: 50px;
}

.wrapper h3 {
    margin: 0;
    font-size: 2rem;
    color: #48e5c2;
}

.skills {
    margin-top: 3vh;
    min-width: 200px;
    width: 20vw;
    flex-grow: 1;
}


.skills-svg {
    padding-right: 2vw;
    padding-bottom: 2vw;
    width: calc(20px + 5vw);
    height: calc(20px + 5vw);
}


.bold {
    display: block;
    font-weight: bold;
    font-size: 1.15rem;
    color: #3e8c7b;
}

.desc {
    display: block;
    font-size: 1.15rem;
    padding-bottom: 1vh;
    font-family: 'Open Sans', sans-serif;
    color: #fcfaf9;
}