.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100vw;
    font-size: calc(1.5rem + 3vw);
    flex-direction: column;
}

.name {
    text-align: center;
    padding: 0;
    margin: 0;
}

.title {
    font-size: calc(1rem + 1vw);
    margin: 0;
}

.socials {
    width: calc(100px + 20vw);
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1vh;
}

.socials a img {
    max-width: 40px;
    max-height: 40px;
    height: calc(20px + 2vw);
    width: calc(20px + 2vw);
    margin-right: 3vw;
    transition: filter 0.4s linear;
}

.socials a img:hover {
    /* https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(66%) sepia(6%) saturate(56%) hue-rotate(349deg) brightness(91%) contrast(88%);
}