html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
    scrollbar-width: thin;
    background-blend-mode: darken;
    font-family: 'Titillium Web', sans-serif;
}

section:nth-child(odd) {
    background-color: #333333;
}

section:nth-child(even) {
    background-color: #fcfaf9;
}

